.CityContainer {
	min-height: 100vh;
	background-color: #181818;
}

.CityContainer ul {
	display: flex;
	flex-wrap: wrap;
	list-style: none;
	padding: 0;
	margin: 0;
	justify-content: start;
}

.CityContainer li {
	color: white;
	border: 1px solid #181818;
	border-radius: 20px;
	padding: 20px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
	margin: 10px;
	background-size: cover;
	background-position: center;
	width: 320px;
	height: 240px;
}
