.meter {
	width: 100%;
	height: 20px;
	background-color: #ddd;
}

.meter-hover {
	width: 100%;
	height: 20px;
	flex-grow: 1;
	background-color: transparent;
	border-radius: 25px;
	margin: 15px;
	background-color: #ddd;
}

.meter-score {
	width: 30%;
	height: 30px;
	flex-grow: 1;
	border-radius: 25px;
	margin: 15px;
	background-color: #ddd;
}

.meter-fill {
	height: 100%;
}
